*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scrollbar-color: unset !important;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #cacaca;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb:hover {
  background: #b6b6b6;
}
